/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/bin
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/obj
