/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/bin
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/obj
/homework_3_1402_04_24/CustomArrayConsoleApp/CustomArrayConsoleApp/bin
/homework_3_1402_04_24/CustomArrayConsoleApp/CustomArrayConsoleApp/obj
/homework_4_1402_04_28/TwoSumPalindromeConsoleApp/TwoSumPalindromeConsoleApp/bin
/homework_4_1402_04_28/TwoSumPalindromeConsoleApp/TwoSumPalindromeConsoleApp/obj
/homework_5_1402_04_31/LibraryOnlineShopConsoleApp/LibraryOnlineShopConsoleApp/obj
/homework_5_1402_04_31/LibraryOnlineShopConsoleApp/LibraryOnlineShopConsoleApp/bin
/homework_6_1402_05_07/ValidParentheses_UniqueValuesConsoleApp/ValidParentheses_UniqueValuesConsoleApp/obj
/homework_6_1402_05_07/ValidParentheses_UniqueValuesConsoleApp/ValidParentheses_UniqueValuesConsoleApp/bin
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp.Test/bin
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp.Test/obj
/homework_1_1402_04_17/CalculatorConsoleApp/.vs/
/homework_2_1402_04_21/FibonacciConsoleApp/.vs/
/homework_3_1402_04_24/CustomArrayConsoleApp/.vs/
/homework_4_1402_04_28/TwoSumPalindromeConsoleApp/.vs/
/homework_5_1402_04_31/LibraryOnlineShopConsoleApp/.vs/
/homework_6_1402_05_07/ValidParentheses_UniqueValuesConsoleApp/.vs/