/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/training_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/bin
/homework_1_1402_04_17/CalculatorConsoleApp/CalculatorConsoleApp/obj
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/bin
/homework_2_1402_04_21/FibonacciConsoleApp/FibonacciConsoleApp/obj
/homework_3_1402_04_24/CustomArrayConsoleApp/CustomArrayConsoleApp/bin
/homework_3_1402_04_24/CustomArrayConsoleApp/CustomArrayConsoleApp/obj
/homework_4_1402_04_28/TwoSumPalindromeConsoleApp/TwoSumPalindromeConsoleApp/bin
/homework_4_1402_04_28/TwoSumPalindromeConsoleApp/TwoSumPalindromeConsoleApp/obj
/homework_5_1402_04_31/LibraryOnlineShopConsoleApp/LibraryOnlineShopConsoleApp/obj
/homework_5_1402_04_31/LibraryOnlineShopConsoleApp/LibraryOnlineShopConsoleApp/bin
